h1{
	color:maroon;
	text-align:center;
	font-weight:bold;
	text-transform:capitalize;
	background-color: yellow;
	margin:5px;
	font-family:verdana;
	border:1px solid black;
}

body{
	background:maroon;
	overflow:scroll;
}
div{
	float:left;
	
	font-family:sans-serif;
	

	padding:15px;

}


p{
	margin-top:40px;
}



*{
	box-sizing:border-box;
	margin:15px;
	cursor: pointer;
}


.chicken{
	border:4px solid yellow ;
	display:block;
	background-color:black;
	color:maroon;
	width:30%;
	margin-top:0px;
	padding:0;
	height:20%;
	clear:both;
	
}
.beef{
	border:4px solid yellow;
	display:block;
	background-color:black;
	color:blue;
	width:30%;
	margin-top:0;
	padding:0;
	height:20%;
	

}
.sushi{
	border:4px solid yellow;
	display:block;
	background-color:black;
	color:grey;
	width:30%;
	margin-top:0px;
	padding:0;
	height:20%;
}
span{
	display:block;
	color:red;
	background-color:yellow;
	float:right;
	margin:0;
	padding:0;
	border:2px solid maroon;
}

@media(max-width: 992px){
   div{
   	width:30%;
   	height:20%;
   	margin:15px;
   	padding:15px;
   }
}

@media(max-width:991px)and (min-width:767px){
	.chicken{
		width:40%;
		height:30%;


	}

.beef{
	
	width:40%;
	height:30%;
}
	
 .sushi{
	
	width:83%;
  height:30%;
}
}

@media(max-width:763px){
	.chicken{
		width:100%;
		height:30%;
		margin:auto;

	}

.beef{
	clear:left;
	width:100%;
	height:30%;
	margin:auto;
}
.sushi{
	clear:left;
	width:100%;
	height:30%;
	margin:auto ;
}
}

span:hover{
	background-color:maroon;
	text-transform:capitalize;
	color:black;

}






























